<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <title>
            Code Green - {% block title_block %} Home {% endblock %}
        </title>
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="{% url 'code_green:index' %}">Home</a></li>
                <li><a href="{% url 'code_green:about' %}">About</a></li>
                <!-- add authentication requirement to access this area... -->
                {% if user.is_authenticated %}
                    <li><a href="{% url 'code_green:missions' %}">Missions</a></li>
                    <li><a href="{% url 'code_green:leaderboard' %}">Leaderboard</a></li>
                    <li><a href="{% url 'code_green:community' %}">Community</a></li>
                    <li><a href="{% url 'code_green:profile' user.username %}">Profile</a></li>
                {% endif %}
            </ul>
        </nav>

        <main>
            {% block body_block %}{% endblock %}
        </main>
    </body>
</html>
