<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <link rel="icon" href="{% static 'images/favicon.ico' %}">
        <title>
            Code Green - {% block title_block %} Home {% endblock %}
        </title>
    </head>

    <body>
        <nav>
            <ul>
                <li><a>Home</a></li>
                <li><a>About</a></li>
                <!-- add authentication requirement to access this area... -->
                <li><a>Missions</a></li>
                <li><a>Leaderboard</a></li>
                <li><a>Community</a></li>
            </ul>
        </nav>

        <main>
            {% block body_block %}{% endblock %}
        </main>
    </body>
</html>
